footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  color: #ffffff;
  margin-top: 80px;
  padding: 0 32px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 640px;
  height: 200px;
  border-right: 1px solid grey;
}

.footer-left img {
  width: 120px;
  cursor: pointer;
}
.footer-left p {
  width: 640px;
}
.footer-right {
  width: 1280px;
  padding-left: 20px;
}
